<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .button-space {
            margin-right: 10px;
        }
        /* table, th, td {
            border: 1px solid black;
        } */
    </style>
</head>
<body>
    {% if fullname %}
        <h1>Welcome {{fullname}}</h1>
    {% else %}
        <h1>Welcome to Dashboard</h1>
    {%endif%}
    <table border="1">
        <thead>
            <tr>
                <th>PortfolioType</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% if portfolios %}
                {% for portfolio in portfolios%}
                <tr>
                    <td><a href="{{ url_for('portfolio_page', portfolioid=portfolio.PortfolioID) }}">{{ portfolio.PortfolioType }}</a></td>
                    <td>{{ portfolio.PortfolioBalance }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No portfolios found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <button type="button" onclick="window.location.href='{{ url_for('login') }}'" class="button-space">Back</button>
    <!-- Make button LOG OUT. have to make session['user'] =  None -->
    
</body>
</html>