<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if portfolio%}
        <title>{{portfolio.PortfolioType}}</title>
    {%else%}
        <title>Portfolio</title>
    {%endif%}
    <style>
        .button-space {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <nav>
        <a href = "{{url_for ('transaction_page', portfolioid=portfolio.PortfolioID)}}">Transactions</a>
    </nav>

    <article>
        <h1>Current Positions</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Date Bought</th>
                    <th>Sell</th>
                </tr>
            </thead>
            <tbody>
                {%if transactions%}
                    {% for data in transactions%}
                        {% if data.CurrentlyActive %}
                            <tr>
                                <td>{{ data.StockSymbol }}</td>
                                <td>{{ data.NumShares }}</td>
                                <td>{{ data.PurchasePrice }}</td>
                                <td>{{ data.DateTime }}</td>
                                <td><button type="button">Sell Shares</button>
                            </tr>
                        {%endif%}
                    {%endfor%}
                    {%else%}
                    <tr>
                        <td colspan="3">No transactions made.</td>
                    </tr>
                {%endif%}
            </tbody>
        </table>
    </article>
    <article>
        <h1>Watchlist</h1>
        <table border="1">
            <thead>
                <th>Stock</th>
                <th>Price</th>
            </thead>
            <tbody>
                {% if watchlist %}
                    {% for item in watchlist %}
                    <tr>
                        <td>{{item.StockSymbol}}</td>
                        <td></td>
                    </tr>
                    {%endfor%}
                {%endif%}
            </tbody>
        </table>
    </article>
    <session class="user">
        <button type="button" onclick="window.location.href='{{ url_for('dashboard', userid=session.user) }}'" class="button-space">Back to Dashboard</button>
    </session>
    
</body>
</html>