<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if portfolio%}
        <title>{{portfolio.PortfolioType}}</title>
    {%else%}
        <title>Portfolio</title>
    {%endif%}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href = "{{url_for ('stats')}}">Stats</a>
        <a href = "{{url_for ('transaction_page', portfolioid=portfolio.PortfolioID)}}">Transactions</a>
    </nav>
    <article>
        <fieldset class="balance">
            <legend>Balances</legend>
            <h2>Stock Value: ${{sbalance}}</h2>
            <h2>Cash Balance: ${{portfolio.PortfolioBalance}}</h2>
            <h2>Total: ${{portfolio.PortfolioBalance+sbalance}}</h2>
        </fieldset>
        <form method="post">
            <label for="invite">Invite User:</label>
            <input width=10% type="text" id="invite" name="invite" required> 
            <input type="hidden" name="portfolio_id" value="{{ portfolio.PortfolioID }}">
            <button type="submit" name="action" value="invite">Invite</button>
            {%if iMsg%}
                <p>{{iMsg}}</p>
            {%endif%}
        </form>
    </article>
    <article>
        <h1>Current Positions</h1>
        <table>
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Shares</th>
                    <th>Purchase Price</th>
                    <th>Date Bought</th>
                    <th>Current Price</th>
                    <th>Gain/Lost (%)</th>
                    <th>Gain/Loss ($)</th>
                    <th>Sell</th>
                </tr>
            </thead>
            <tbody>
                {%if transactions%}
                    {% for data in transactions%}
                        {% if data.CurrentlyActive %}
                            <tr data-shares="{{ data.NumShares }}" data-price="{{ data.PurchasePrice }}">
                                <td>{{ data.StockSymbol }}</td>
                                <td>{{ data.NumShares }}</td>
                                <td class="right">${{ data.PurchasePrice }}</td>
                                <td>{{ data.DateTime }}</td>
                                <td class="right">${{ data.CurrentPrice }}</td>
                                <td class="right">{{ data.PercentChange }}%</td>
                                <td class="right">${{ data.DollarChange }}</td>
                                <td>
                                    <form action="{{ url_for('sell_shares') }}" method="post">
                                        <input type="hidden" name="portfolio_id" value="{{ portfolio.PortfolioID }}">
                                        <input type="hidden" name="transaction_id" value="{{ data.TransactionID}}">
                                        <input type="hidden" name="stock_current_price" value="{{ data.CurrentPrice}}">
                                        <input type="hidden" name="num_shares" value="{{ data.NumShares}}">
                                        <input type="hidden" name="portfolio_balance" value="{{ portfolio.PortfolioBalance }}">
                                        <button type="submit" name="action" value="sell">Sell Shares</button>                                    
                                    </form>
                                </td>
                            </tr>
                        {%endif%}
                    {%endfor%}
                    {%else%}
                    <tr>
                        <td colspan="3">No transactions made.</td>
                    </tr>
                {%endif%}
            </tbody>
        </table>
        <button type="button" onclick="window.location.href='{{ url_for('buy_stock', portfolioid=portfolio.PortfolioID) }}'" class="button-space">Buy Stock</button>
    </article>
    <article>
        <h1>Watchlist</h1>
        <table>
            <thead>
                <th>Stock</th>
                <th>Price</th>
                <th>Hi</th>
                <th>Low</th>
                <th></th>
            </thead>
            <tbody>
                {% if watchlist %}
                    {% for item in watchlist %}
                    <tr>
                        <td>{{item.StockSymbol}}</td>
                        <td>${{item.CurrentPrice}}</td>
                        <td>${{item.High}}</td>
                        <td>${{item.Low}}</td>
                        <td>
                            <form action="{{ url_for('remove_watch') }}" method="post">
                                <input type="hidden" name="portfolio_id" value="{{ portfolio.PortfolioID }}">
                                <input type="hidden" name="stock_symbol" value="{{ item.StockSymbol }}">
                                <input type="hidden" name="current_price" value="{{ item.CurrentPrice}}">
                                <button type="submit" name="action" value="remove">Remove</button>                               
                            </form>
                        </td>
                    </tr>
                    {%endfor%}
                {%else%}
                    <td colspan="4">Watchlist is Empty</td>
                {%endif%}
            </tbody>
        </table>
        <button type="button" onclick="window.location.href='{{ url_for('add_watchlist', portfolioid=portfolio.PortfolioID) }}'" class="button-space">Add Stock</button>

    </article>
    <session class="user">
        <button type="button" onclick="window.location.href='{{ url_for('dashboard', userid=session.user) }}'" class="button-space">Back to Dashboard</button>
        <button type="button" onclick="window.location.href='{{ url_for('login') }}'" class="button-space">Log Out</button>
    </session>
    
</body>
</html>
