<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <artlicle>
        <h2>Stock Ticker Search</h2>
        <form method="post">
            <label for="companySearch">Company Name:</label>
            <input type="text" id="companySearch" name="companySearch" required>
            <button type="submit" name="action" value="companySearch">Search</button>
        </form>
        {%if keysearch or searchErMsg%}
            <table>
                <thead>
                    <th>Company Name</th>
                    <th>Company Ticker</th>
                </thead>
                <tbody>
                    {%if searchErMsg%}
                        <tr>
                            <td colspan="2">{{searchErMsg}}</td>
                        </tr>
                    {%endif%}
                    {%if keysearch%}
                        {%for r in keysearch%}
                            <tr>
                                <td>{{r.Name}}</td>
                                <td>{{r.StockSymbol}}</td>
                            </tr>
                        {%endfor%}
                    {%endif%}
                </tbody>
            </table>
            {%endif%}
    </artlicle>
    <article>
        <h2>Best Performers</h2>
        <p>Enter dates to find best performing stocks in that interval.</p>
        {%if msg1%}
            <p>{{msg1}}</p>
        {%endif%}
        <form method="post">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" min="2010-01-04" max="2024-07-15" required>
            <label class="label-space" for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" min="start_date" max="2024-07-15" required>
            <button type="submit" name="action" value="dateSearch">Search</button>
        </form>
        <h5>Start Date needs to be ≥ 01-04-2010 and End Date needs to be ≤ 07-15-2024</h5>
        {%if performers%}
            <table>
                <thead>
                    <th>Stock Symbol</th>
                    <th>Stock Name</th>
                    <th>Percent Increase</th>
                </thead>
                <tbody>
                    {%for p in performers%}
                        <tr>
                            <td>{{p.StockSymbol}}</td>
                            <td>{{p.Name}}</td>
                            <td>{{p.performance}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        {%endif%}
        
    </article>
    <h1>Find users with a similar investment strategy</h1>
    <article>
        <form method="post">
            <h2>Choose to search for portfolios heavy in chosen sector</h2>
            <label for="sectors">Choose a sector:</label>
            <select name="sectors" id="sectors">
                {%if sectors or sectorErMsg%}
                    {%for s in sectors%}
                        <option value={{s.Sector}}>{{s.Sector}}</option>
                    {%endfor%}
                {%endif%}
            </select>
            <button type="submit" name="action" value="sectors">Search</button>
        </form>
        {%if sector%}
            <p>Results for {{sector}} Sector</p>
        {%endif%}
        {%if Sportfolios or sectorErMsg%}
            <table>
                <thead>
                    <th>PortfolioID</th>
                    <th>StockSymbol</th>
                    <th>Company Name</th>
                </thead>
                <tbody>
                    {%if sectorErMsg%}
                        <tr>
                            <td colspan="3">{{sectorErMsg}}</td>
                        </tr>
                    {%endif%}
                    {%if Sportfolios%}
                        {%for s in Sportfolios%}
                            <tr>
                                <td>{{s.PortfolioID}}</td>
                                <td>{{s.StockSymbol}}</td>
                                <td>{{s.CompanyName}}</td>
                            </tr>
                        {%endfor%}
                    {%endif%}
                </tbody>
            </table>
        {%endif%}
    </article>
    <article>
        <h2>High Market Cap Investors</h2>
        <p>Leaderboard keeping track of users who own the greatest number of the 10 most valuable companies</p>
        {%if valStocks%}
                <table>
                    <thead>
                        <th>UserID</th>
                        <th>FullName</th>
                        <th>Count</th>
                    </thead>
                    <tbody>
                        {%for v in valStocks%}
                            <tr>
                                <td>{{v.UserID}}</td>
                                <td>{{v.FullName}}</td>
                                <td>{{v.anything}}</td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
        {%endif%}
    </article>
    <button type="button" onclick="window.location.href='{{ url_for('dashboard', userid=session.user) }}'" class="button-space">Back to Dashboard</button>

</body>
</html>