<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% if portfolio %}
        <h1>{{portfolio.PortfolioType}} Transaction</h1>
    {% else %}
        <h1>Transaction History</h1>
    {%endif%}
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Number of Shares</th>
                <th>Price</th>
                <th>Date Bought</th>
            </tr>
        </thead>
        <tbody>
            {% if transactions %}
                {% for transaction in transactions%}
                <tr>
                    <td>{{ transaction.StockSymbol }}</a></td>
                    <td>{{ transaction.NumShares }}</td>
                    <td>{{ transaction.PurchasePrice }}</td>
                    <td>{{ transaction.DateTime }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No transactions found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <button type="button" onclick="window.location.href='{{ url_for('portfolio_page',portfolioid=portfolio.PortfolioID) }}'" class="button-space">Back</button>
    <!-- Make button LOG OUT. have to make session['user'] =  None -->
    
</body>
</html>